@media all {
    * {
        background-color: #FF69B4;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;

    }

    #Navigation {
        font-size: xx-large;
    }

    #Navigation a:hover {
        font-style: italic;

    }


    img {
        height: 300px;
        width: 400px;
        border-color: black;
        border: solid;
        border-width: 5px;
        transition: all 1s;


    }

    img:hover {
        height: 400px;
        width: 500px;
    }



    iframe {
        height: 198px;
        width: 350px;
        border-color: black;
        border: solid;
        border-width: 5px;


    }

    .photos {
        display: flex;
        justify-content: space-around;

    }

    .videos {
        display: flex;
        justify-content: space-around;
    }

    #Heading1 {
        padding-top: 70px;
    }

    #openingParagraph {
        padding-left: 20px;
        padding-right: 20px;
    }

    #moon {
        pointer-events: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

    }


    #moon img {
        border: solid 10px purple;
    }

    #faceDownPhotos {
        padding-top: 20px;
    }

    #theCallingPhotos {
        padding-top: 20px;
    }

    #vooDooPhotos {
        padding-top: 20px;
        padding-bottom: 50px;
    }

    #lavaPhotos {
        padding-top: 20px;
    }

    a:hover {
        font-style: italic;
    }
}


.content-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.content {
    flex: 0 0 calc(50% - 20px);

    margin: 20px;

    padding: 15px;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


@media (max-width: 600px) {
    #Heading1 {
        padding-top: 40px;
    }

    .content {
        flex: 0 0 100%;
        margin: 10px;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;

    }
}


@media (min-width: 601px) and (max-width: 900px) {}


@media (min-width: 901px) {
    .content-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .content {
        flex: 0 0 calc(50% - 20px);
        margin: 20px;

    }
}